#
# DUMMY ENVIROMENT VARIABLES!!
#
  
# Application Configuration
APP_HOST=0.0.0.0
APP_PORT=3000

# Proxmox API Configuration

PVE_API_URL=https://localhost:8006
PVE_TOKEN_ID=YOUR_SERVICE_USER_TOKEN_ID
PVE_SECRET=YOUR_TOKEN_SECRET
PVE_PASSWORD=YOUR_SERVICE_USER_PAM_PASSWORD
