#
# DUMMY ENVIROMENT VARIABLES!!
#
  
# Application Configuration
APP_HOST=0.0.0.0
APP_PORT=3000

# Proxmox API Configuration

PVE_API_URL=https://localhost:8006
PVE_TOKEN_ID=YOUR_SERVICE_USER_TOKEN_ID
PVE_SECRET=YOUR_TOKEN_SECRET
PVE_PASSWORD=YOUR_SERVICE_USER_PAM_PASSWORD

# Optional PVE Args:
PVE_POOL=vdi # In which pool should the VMs be added (must be manually created)
PVE_START_ID=1000 # The starting ID of the VMs (default: 1000)

# Database Configuration
# DB_TYPE: sqlite | mysql (default: sqlite)
DB_TYPE=sqlite

# How often should the sync between PVE and Database run (in minutes)
DB_SYNC_INTERVAL=10

# MySQL Settings (Only needed if DB_TYPE=mysql)
# Use MYSQL_ variables OR DB_CONNECTION_STRING -> Connection String is prioritized
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=pve_vdi
# DB_CONNECTION_STRING=mysql://root:password@localhost:3306/pve_vdi
